
{% extends 'base.html.twig' %}

{% block title %}Créer un Nouveau Témoignage{% endblock %}

{% block body %}
    <div id="app" class="container mt-4">
        <h1 class="text-center mb-4">Votre témoignage nous intéresse</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    <div class="mb-3">
                        {{ form_label(form.Nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.Nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.Commentaire, 'Commentaire', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.Commentaire, {'attr': {'class': 'form-control', 'style': 'height: 70px;'}}) }}

                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">Note</label>
                        <b-form-rating v-model="note" :max="5" show-value></b-form-rating>
                        <input type="hidden" name="note" :value="note"> 
                    </div>
                    {{ form_row(form._token) }}
                    <div class="mb-3 mt-4">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                note: null
            },
            methods: {
                updateNote: function(value) {
                    this.note = value;
                }
            }
        });
    </script>
{% endblock %}


{% endblock %}
